[submodule "Wild-and-Fruit-Tree-Transplant"]
	path = Wild-and-Fruit-Tree-Transplant
	url = https://github.com/thisjuncedrick/Wild-and-Fruit-Tree-Transplant
[submodule "RobinsMaterialBuyout"]
	path = RobinsMaterialBuyout
	url = https://github.com/thisjuncedrick/RobinsMaterialBuyout
[submodule "Closed-Door-Gifting"]
	path = Closed-Door-Gifting
	url = https://github.com/thisjuncedrick/Closed-Door-Gifting
[submodule "ColoredTorches"]
	path = ColoredTorches
	url = https://github.com/thisjuncedrick/ColoredTorches
[submodule "NoThanksKeepIt"]
	path = NoThanksKeepIt
	url = https://github.com/thisjuncedrick/NoThanksKeepIt.git
